@media screen and (max-width: 1000px) {     /* MOBILE/SMALL SCREEN VERSION */

    .mobile_navigation_bar {
        vertical-align: top;
        background-color: lightblue;
        width: 100%;
    }

    .navigation_bar {
        display: none;
    }
}

@media screen and (min-width: 1000px) {     /* PC/REGULAR SCREEN VERSION */
    .navigation_bar {
        height: 70px;
        background-color: lightblue;
        width: 100%;
        text-align:center;
    }
    .mobile_navigation_bar {
        display: none;
    }
}

nav {
    vertical-align: top;
    background-color: lightblue;
    text-align: center; 
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer {
    background-color: lightblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.link-style {
    display: inline-block;
    font-size: 20px;
    padding: 23.5px;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: black;
    text-decoration:none;

    border-right: 1px solid black;

}

.link-style:hover {
    background-color: lightskyblue;
}

.dropdown_navigaiton {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    background-color:cadetblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content .dropdown_element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown_content .dropdown_element:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown_navigaiton:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_navigaiton:hover .dropdown_button {background-color: lightblue;}